@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-1: 144 33% 97%;
    --background-2: 144 25% 95%;
    --background-3: 144 17% 90%;

    --foreground-1: 138 33% 6%;
    --foreground-2: 138 5% 40%;

    --ring: 142 80% 40%;
    --border: 144 10% 85%;

    /* ---------- Branding ---------- */
    --primary: 142 70% 50%;
    --primary-foreground: 138 33% 6%;

    --secondary: 199 32% 71%;
    --secondary-foreground: 138 33% 6%;

    --accent: 224 33% 65%;
    --accent-foreground: 138 33% 6%;

    /* ---------- Feedback ---------- */
    --info: 195 100% 46%;
    --info-foreground: 0 0% 0%;

    --success: 160 100% 32%;
    --success-foreground: 0 0% 0%;

    --warning: 46 100% 48%;
    --warning-foreground: 0 0% 0%;

    --error: 339.53 100% 50%;
    --error-foreground: 339.56 100% 94.96%;

    --radius: 0.5rem;
  }

  .dark {
    --background-1: 144 33% 3%;
    --background-2: 144 15% 6%;
    --background-3: 144 11% 11%;

    --foreground-1: 138 33% 94%;
    --foreground-2: 138 5% 56%;

    --ring: 142 80% 60%;
    --border: 144 6% 17%;

    /* ---------- Branding ---------- */
    --primary: 142 80% 60%;
    --primary-foreground: 144 33% 3%;

    --secondary: 199 32% 29%;
    --secondary-foreground: 138 33% 94%;

    --accent: 224 33% 35%;
    --accent-foreground: 138 33% 94%;

    /* ---------- Feedback ---------- */
    --info: 195 100% 46%;
    --info-foreground: 0 0% 0%;

    --success: 160 100% 32%;
    --success-foreground: 0 0% 0%;

    --warning: 46 100% 48%;
    --warning-foreground: 0 0% 0%;

    --error: 339.62 100% 50%;
    --error-foreground: 339.56 100% 94.96%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background-1 text-foreground-1 font-noto-sans;
  }

  a,
  button {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 active:scale-95 ring-offset-background-1 rounded-md transition;
  }

  .prose {
    pre {
      @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 ring-offset-background-1;
    }
    code:not(pre code) {
      @apply bg-background-2 font-semibold px-[0.3rem] py-[0.2rem] rounded-md;

      &::after,
      &::before {
        content: "";
      }
    }
  }
}
